:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 1.2rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  padding: 2rem;
  margin: 1rem;
  cursor: pointer;
}
