<div class="container">
  <div class="row align-items-center">
    <div class="col-3">
      <h1 class="site-title">Catalog App</h1>
    </div>
    <div class="col-6">
      <ul class="site-menu">
        <li class="site-menu-item">
          <a [routerLink]="'home'">Anasayfa</a>
        </li>
        <li class="site-menu-item">
          <a [routerLink]="'products'">Ürünler</a>
        </li>
      </ul>
    </div>
    <div class="col-3">
      <button class="favorite-btn">
        <i class="ri-heart-line"></i>
        <span>Favoriler</span>
      </button>
    </div>
  </div>
</div>
