:host {
  display: block;
  background: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  padding: 2rem;

  .site-title {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .site-menu {
    display: flex;
    font-size: 1.2rem;

    .site-menu-item {
      &:first-child {
        margin-right: 1rem;
      }
    }
  }

  .favorite-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    background: transparent;
    font-size: 1.2rem;

    i {
      margin-right: 1rem;
      font-size: 1.4rem;
    }
  }
}
